.help {
    position: relative;
    display: inline-block;
    margin-left: 8px;
    cursor: help;

    span {
        display: none;
        position: absolute;
        top: 60%;
        left: 60%;
        width: max-content;
        background: white;
        color: black;
        padding: 8px;
        border-radius: 8px;
        white-space: pre-line;
    }

    .tooltip {
        width: 16px;
        height: 16px;
        transform: translateY(2px);
    }

    &:hover span {
        display: block;
    }
}
